@import "node_modules/knacss/sass/_vendor/reboot";
@import "_variables";

body {
  background-color: $white;
}

.container {
  max-width: 100%;
  width: 90%;
}

.full-height {
  width: 100%;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
